{% extends 'layouts/base.html' %}

{% block content %}
<div class="table-responsive">
    <table class="table table-hover mt-3">
        <tbody>
            <h2>History of Analysis</h1>
            {% for obj in object_list %}
                <tr class="image-entry">
                    <td colspan="5">
                        <span><h4>Analysis For</h4><span>Picture# {{ obj.id }}</span></span>
                    </td>
                </tr>
                <tr class="image-entry">
                    <td>
                        <img class="rounded-circle" style="width: 40px;" src="{{ obj.image.url }}" alt="activity-user">
                    </td>
                    <td>
                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>{{ obj.created_at }}</h6>
                    </td>
                    <td class="data-value" style="display: none;">{{ obj.data }}</td>
                    
                    <td>
                        <button class="btn btn-primary m-0 see-analysis" data-image-id="{{ obj.id }}">See Historic Analysis </button>
                    </td>
                </tr>
                <tr class="analysis-details" id="analysis-details-{{ obj.id }}" style="display: none;">
                    <td colspan="5">
                        {% if obj.data %}
                            {% for data in obj.data %}
                                <div>
                                    <h3>Detailed Analysis Data:</h3>
                                    <p><b class="anabb">Dominant Gender👫:</b> {{ data.dominant_gender }}</p>
                                    <p><b class="anabb">Dominant Race:🙎🏾‍♂️</b> {{ data.dominant_race }}</p>
                                    <p><b class="anabb">Dominant Emotion:😐</b> {{ data.dominant_emotion }}</p>
                                    <p><b class="anabb">Age:⏳</b> {{ data.age }}</p>
                                    <p><b class="anabb">Face Confidence:👨🏻‍🦳</b> {{ data.face_confidence }}</p>
                                    <!-- Include additional analysis details as needed -->
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No detailed analysis data available.</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const analysisButtons = document.querySelectorAll('.see-analysis');

        analysisButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                const imageId = button.getAttribute('data-image-id');
                const analysisDetails = document.getElementById('analysis-details-' + imageId);

                if (analysisDetails.style.display === 'none') {
                    analysisDetails.style.display = 'block';
                } else {
                    analysisDetails.style.display = 'none';
                }
            });
        });
    });
</script>
{% endblock content %}
